.cardset {
  background-color: rgb(241, 241, 241);
  padding: 2rem;
  margin: 2rem;
}

.cardset__title {
  margin: 0.5rem 2rem 2rem 2rem;
  text-transform: uppercase;
  text-align: left;
  letter-spacing: 0.1rem;
}

.cardset__colorcards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
